.App {
    text-align: center;
    min-height: 100vh;
    color: white;
}

.leadDevTitle {
    font-size: 49px;
    letter-spacing: 0.04em;
    font-family: 'Montserrat', sans-serif;
}

.leadDevUnderTitle {
    text-align: start;
    font-size: 24px;
}

.ourMission {
    font-size: 31px;
    font-family: 'ITF Devanagari Marathi';
}

.empowering {
    font-size: 20px;
    font-family: 'ITF Devanagari Marathi';
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
